* {
  box-sizing: border-box;
  margin: 0;
  padding: .8rem;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');


body {
color: var(--fontColor);
font-family: 'Montserrat', sans-serif;
font-family: 'Russo One', sans-serif;
background-color: var(--primary);
}

:root {
  --primary: #f28482;
  --secondary: #84a59d;
  --lightpink: #f5cac3;
  --darkyellow: #f6bd60;
  --fontColor: #f7ede2;
}

hr {
  border: 10px solid var(--secondary);
  border-radius: 5px;
  background-color: var(--lightpink);
}

/* ul {
  list-style-type: none;
} */